*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;
}
:root
{
    --bg-color: #04000a;
    --text-color: #ffffff;
    --primary1: #d40071;
    --primary2: #d43500;
    --scrollY: -45deg;
    --scrollYneg: -45deg;
    /* var(--primary1); */
}
body
{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
    width: 100%;
    height: 1200px;
}
/* width */
::-webkit-scrollbar 
{
    width: 10px;
    height: 10px;
    transition: 0.5s;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: var(--bg-color);
    transition: 0.5s;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: linear-gradient(var(--primary2), var(--primary1));
    transition: 0.5s;
    border-radius: 5px;
    /* border-color: var(--text-color); */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: linear-gradient(var(--primary2), var(--primary1));
    transition: 0.5s;
}
.box
{
    position: absolute;
    width: 300px;
    height: 100px;
    /* top: 15px; */
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* left: 10px; */
    top: 10px;
    transition: 0.5s;
}
.box::before
{
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(5deg) skewY(3deg);
    background: linear-gradient(315deg,var(--primary2), var(--bg-color), var(--primary1));
}
.box::after
{
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(5deg) skewY(3deg);
    background: linear-gradient(315deg,var(--primary2), var(--bg-color), var(--primary1));
    filter: blur(50px);
}
.box span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 10;
    transition: 0.5s;
}
.box p
{
    position: relative;
    z-index: 11;
    color: var(--text-color);
    font-size: 2em;
    /* transition: 0.5s; */
    transition: 0.5s;
}
.box:hover
{
    transition: 0.5s;
}
.textbox
{
    position: absolute;
    background: linear-gradient(var(--scrollY) ,var(--primary2), var(--bg-color), var(--primary1));
    left: 25%;
    right: 25%;
    top: 200px;
    height: 350px;
    border-radius: 25px;
    transition: 0.5s;
    /* box-shadow: var(--text-color); */
    transition: 0.5s;
    /* transform: rotate3d(1, 0, 0, var(--scrollY)); */
}
.textbox:hover
{
    position: absolute;
    background: linear-gradient(var(--scrollY) ,var(--primary2), var(--bg-color), var(--primary1));
    left: 24%;
    right: 24%;
    top: 190px;
    height: 370px;
    border-radius: 25px;
    transition: 0.5s;
    /* box-shadow: var(--text-color); */
    transition: 0.5s;
}
.textbox .tb
{
    position: absolute;
    background: var(--bg-color);
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 25px;
    z-index: 30;
    transition: 0.5s;
}
.textbox h1
{
    position: absolute;
    color: var(--text-color);
    left: 15px;
    top: 5px;
    transition: 0.5s;
}
.textbox p
{
    position: absolute;
    color: var(--text-color);
    left: 15px;
    top: 50px;
    width: auto;
    transition: 0.5s;
}
.textboxprojects
{
    position: absolute;
    /* transform: rotate3d(1, 0, 0, var(--scrollY)); */
    background: linear-gradient(var(--scrollYneg),var(--primary2), var(--bg-color), var(--primary1));
    left: 25%;
    right: 25%;
    top: 600px;
    height: 350px;
    border-radius: 25px;
    transition: 0.5s;
    /* box-shadow: var(--text-color); */
    transition: 0.5s;
}
.textboxprojects:hover
{
    position: absolute;
    background: linear-gradient(var(--scrollYneg),var(--primary2), var(--bg-color), var(--primary1));
    left: 24%;
    right: 24%;
    top: 24%;
    top: 590px;
    height: 370px;
    transition: 0.5s;
    /* box-shadow: var(--text-color); */
    transition: 0.5s;
}
.textboxprojects .tbprojects
{
    position: absolute;
    background: var(--bg-color);
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 25px;
    z-index: 30;
    transition: 0.5s;
}
.textboxprojects .tbprojects #html
{
    position: absolute;
    left: 0px;
    bottom: -300px;
}
.textboxprojects .tbprojects #css
{
    position: absolute;
    left: 50px;
    bottom: -300px;
}
.textboxprojects .tbprojects #js
{
    position: absolute;
    left: 100px;
    bottom: -300px;
}
.textboxprojects h1
{
    position: absolute;
    color: var(--text-color);
    left: 15px;
    top: 5px;
    transition: 0.5s;
}
.textboxprojects p
{
    position: absolute;
    color: var(--text-color);
    left: 15px;
    top: 50px;
    width: auto;
    transition: 0.5s;
}
.textboxbutton
{
    position: fixed;
    background: linear-gradient(var(--scrollY), var(--primary2), var(--bg-color), var(--primary1));
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    transition: 0.5s;
    text-align: center;
    /* box-shadow: var(--text-color); */
    /* filter: blur(10px); */
    z-index: 0;
    transition: 0.5s;
    z-index: 50;
}
.textboxbutton:hover
{
    position: fixed;
    background: linear-gradient(var(--scrollY), var(--primary2), var(--bg-color), var(--primary1));
    left: 22.5px;
    top: 22.5px;
    width: 55px;
    height: 55px;
    border-radius: 25px;
    transition: 0.5s;
    /* box-shadow: var(--text-color); */
    transition: 0.5s;
    z-index: 50;
}
.textboxbutton .tbbutton
{
    position: absolute;
    background: var(--bg-color);
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 25px;
    z-index: 30;
    transition: 0.5s;
}
.textboxbutton p
{
    position: absolute;
    color: var(--text-color);
    left: 15px;
    top: 50px;
    transition: 0.5s;
}
.textboxbutton .tbbutton .sidebar
{
    display: none;
    position: absolute;
    background: var(--text-color);
    width: 200px;
    height: 200px;
    left: 50px;
    background: var(--bg-color);
    border-radius: 25px;
    transition: 0.5s;
    transition: 0.5s;
    z-index: 50;
}
.textboxbutton:hover .tbbutton .sidebar
{
    display: flex;
    position: absolute;
    background: var(--text-color);
    width: 300px;
    height: 300px;
    left: 0px;
    background: linear-gradient(315deg,var(--primary2), var(--bg-color), var(--primary1));
    border-radius: 25px;
    transition: 0.5s;
    transform: skewX(2deg) skewY(2deg);
    transition: 0.5s;
}
.textboxbutton .tbbutton .sidebar .sidebarbg
{
    /* display: none; */
    position: absolute;
    background: var(--text-color);
    width: 95%;
    height: 95%;
    left: 2.5%;
    top: 2.5%;
    background: var(--bg-color);
    border-radius: 25px;
    transition: 0.5s;
    transform: skewX(-2deg) skewY(-2deg);
    transition: 0.5s;
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content
{
    /* position: absolute; */
    color: var(--text-color);
    /* background: linear-gradient(var(--primary2), var(--primary1)); */
    height: auto;
    width: auto;
    border-radius: 5px;
    left: 50px;
    top: 50px;
    transition: 0.5s;
    /* text-align: center; */
    transition: 0.5s;
    
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content #light
{
    color: var(--primary1);
    /* background: var(--primary2); */
    transition: 0.5s;
    border-radius: 10%;
    position: absolute;
    left: 10px;
    top: 125px;
    
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content #light:hover
{
    color: #000000;
    /* background: var(--primary2); */
    transition: 0.5s;
    background: var(--primary1);
    border-radius: 35%;
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content #dark
{
    color: var(--primary2);
    /* background: linear-gradient(var(--primary1) var(--text-color)); */
    transition: 0.5s;
    border-radius: 10%;
    position: absolute;
    left: 10px;
    top: 75px;
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content #dark:hover
{
    color: #fff;
    /* background: var(--primary2); */
    transition: 0.5s;
    background: var(--primary2);
    border-radius: 35%;
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content #df
{
    color: var(--primary1);
    /* background: linear-gradient(var(--primary1) var(--text-color)); */
    transition: 0.5s;
    border-radius: 10%;
    position: absolute;
    left: 10px;
    top: 25px;
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content #df:hover
{
    color: #fff;
    /* background: var(--primary2); */
    transition: 0.5s;
    background: linear-gradient(var(--scrollY), var(--primary1), var(--primary2));
    border-radius: 35%;
}
.logo
{
    position: fixed;
    background: linear-gradient(var(--scrollY),var(--primary2), var(--bg-color), var(--primary1));
    width: 75px;
    height: 75px;
    right: 2%;
    top: 2%;
    z-index: -50;
    border-radius: 50%;
}
.logo .logobg
{
    position: absolute;
    background: var(--bg-color);
    width: 90%;
    height: 90%;
    left: 5%;
    bottom: -5%;
    z-index: 50;
    border-radius: 50%;
}
.logo .logodot
{
    position: absolute;
    background: linear-gradient(var(--scrollYneg),var(--primary2), var(--bg-color), var(--primary1));
    width: 70%;
    height: 70%;
    left: 15%;
    bottom: 0%;
    z-index: 50;
    border-radius: 50%;
}
.logo .logodot2
{
    position: absolute;
    background: var(--bg-color);
    width: 60%;
    height: 60%;
    left: 20%;
    bottom: -5%;
    z-index: 50;
    border-radius: 50%;
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content .music
{
    position: absolute;
    bottom: 5%;
}
.textboxbutton .tbbutton .sidebar .sidebarbg .content p
{
    /* position: absolute; */
    top: -20%;
}
.bottombar
{
    position: fixed;
    right: 0%;
    bottom: -125px;
    background: linear-gradient(var(--scrollYneg),var(--primary2), var(--bg-color), var(--primary1));
    height: 200px;
    width: 100%;
    z-index: 55;
    border-radius: 50px;
}
.bottombar .bottombarbg
{
    /* display: none; */
    position: fixed;
    right: 0%;
    bottom: -135px;
    /* background: #fff; */
    background: var(--bg-color);
    height: 200px;
    width: 100%;
    z-index: 55;
    border-radius: 50px;
}
.bottombar .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0%; */
    /* background: #fff; */
}
.bottombar .content #home
{
    position: absolute;
    top: 25px;
    left: 50%;
    color: var(--text-color);
    background: rgba(0, 0, 0, 0);
    border-radius: 10%;
    z-index: 55;
    transition: 0.5s;
}
.bottombar .content #home:hover
{
    position: absolute;
    top: 25px;
    left: 50%;
    color: var(--text-color);
    background: linear-gradient(var(--scrollYneg), var(--primary1), var(--primary2));
    border-radius: 35%;
    z-index: 55;
    transition: 0.5s;
}
#zVMpJlfxawUe 
{
    /* ad blocker */
    position: fixed;
    display: none;
    margin-bottom: 30px;
    padding: 20px 10px;
    bottom: -20px;
    width: 100%;
    height: 150px;
    background: linear-gradient(var(--scrollY), var(--primary1), var(--primary2));
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    z-index: 50;
}